.gallery-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.controls {
  margin-bottom: 20px;
  text-align: center;
}

.controls button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.controls button:hover {
  background-color: #e0e0e0;
}

.controls button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* Grid Layout */
.image-gallery.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.image-gallery.grid .image-item-wrapper {
  width: 100%;
  height: 150px; /* Fixed height for grid items */
  overflow: hidden;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

.image-gallery.grid .image-item-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the area, cropping if necessary */
  transition: transform 0.4s ease;
}

.image-gallery.grid .image-item-wrapper:hover img {
  transform: scale(1.04);
}


/* Loose Layout */
.image-gallery.loose .image-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 6px;
}

.image-gallery.loose .image-item-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.image-gallery.loose .image-item-wrapper:hover {
    /* transform: translateY(-5px); */
    /* box-shadow: 0 8px 16px rgba(0,0,0,0.2); */
    transform: scale(1.01);
}

.image-gallery.loose .image-item-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}
